@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cairo);
  background: black;
  color: white;
}

::selection {
  background-color: var(--text-links-hover);
  color: white;
}

/* for Scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--accent-disabled);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-hover);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-default);
}
