@import "tailwindcss";

:root {
  --primary-color: #cc0075;
  --secondary-color: #511764;
  --accent-color: #b33cda;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cairo);
  background: #020618;
  color: white;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

/* for Scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
